.editor-wrapper{
    display: grid;
    grid-template-columns: 220px 1fr;
    background-color:#0F0A36;
    overflow-y: hidden;
}
.leftside{
    flex: 1;
    background-color:#0F0A36 ;
    color: wheat;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-right:1px solid rgb(122, 175, 16);
}
.buttom{
    flex: 1;
    margin-top: 20px;

}
h3{
    color: rgb(154, 152, 148);
    font-weight: 100;
}
.connections{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
.client-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.username{
    margin-top:4px;
}
.rows{  
    margin-top: 20px;
}
.row{
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: wheat;
    align-items: center;
}
.row:hover{
    cursor: pointer;
    background-color:  #494064;
}
.code-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid yellowgreen;
   padding: 5px;
   background-color:#2d2254;
}
  
.rightside{
overflow-y: hidden;
height: 100vh;
position: relative;
 
}
.options{
   display: flex; 
   color: yellow;
}
.chat-wrapper{
    display: flex;
    justify-content: flex-end;
     width: 100%;
     position: absolute;
     z-index: 20;
     padding: 10px;
}
.chat-container{
    display: flex;
    flex-direction:column;
    position: absolute; 
}
#messages{
    background-color:transparent;
    color: rgb(99, 99, 99);
    resize: none;
    border: none;
    display: flex;
    justify-content: flex-end;
    height: 400px;
}
.chat-button{
    display: none;
}
.chat-input{
    background-color:transparent;
    color: yellow;
}