.flex-box{
    width: 300px;
    height:100%;
    color: wheat;
    margin: 10px;
    border: 1px solid #2d2254;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(176, 175, 175, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px  rgba(225, 225, 225, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.flex-box:hover{
    background-color: #2d2254;
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.inner-box{
    padding: 10px 10px 0px 10px;
}
.code-title{
   margin-bottom: 10px;
    
}
.code-description{
    margin-bottom: 30px;
    color: rgb(154, 152, 148);
    font-size: 12px;
}
.code-delete{
   margin-left: 180px;
   color: yellow;
   cursor:pointer;
   width: 100%;
}
.code-delete:hover{
    scale: 1.1;
}
.delete-container{
    width: fit-content;
    padding-bottom: 10px;
}