.widget{
    display: flex;
    width: 300px;
    flex: 1;
    justify-content: space-between;
    -webkit-box-box-shadow: 2px 4px 10px 1px rgba(173, 225, 14, 0.47);
    box-shadow: 2px 4px 10px 1px yellow;
    border-radius: 10px;
    height: 100px;
    
    
}