.widget{
    display: flex;
    justify-content: space-between;
    -webkit-box-box-shadow: 2px 4px 10px 1px rgba(29, 38, 1, 0.47);
    box-shadow: 2px 4px 10px 1px rgb(98, 98, 65);
    border-radius: 10px;
    padding: 10px;
    gap: 150px;
    flex-wrap: wrap;
    height: 130px;
}
.widget:hover{
    transform: scale(1.1);
}
.left,.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: yellow;
}
 .title{
    color: wheat;
}
.active-users{
    font-size: 36px;
    color:yellow;
}
.widget-link{
    font-size: 10px;
    color: wheat;
}
.person-icon{
    display: flex;
   align-self: flex-end;
    background-color: #0F0A36;
    padding: 5px;
    border-radius: 5px;
    
}
.percentage{
display: flex;
justify-content: center;
color:wheat;
}