.widget{
    display: flex;
    justify-content: space-between;
    -webkit-box-box-shadow: 2px 4px 10px 1px rgba(29, 38, 1, 0.47);
    box-shadow: 2px 4px 10px 1px rgb(98, 98, 65);
    border-radius: 10px;
    height: 120px;
    padding: 10px;
}
.left,.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: yellow;
}
 .title{
    color: wheat;
}
.active-users{
    font-size: 36px;
}
.widget-link{
    font-size: 10px;
}
.person-icon{
    display: flex;
    justify-content: flex-end;
}