.table-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:20px;
    height: 100vh;
    overflow: scroll;
}
.widgets-container{
    display: flex;
    margin-top:25px;
    gap: 20px;
    flex-wrap: wrap;
    width: fit-content;
}
.all-users{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
.userImage{
    display: flex;
    align-items: center;
}