*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.header{
    color:wheat
}
.sign-in-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    gap: 25px;
    border: 2px solid #2d2254;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(176, 175, 175, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px  rgba(225, 225, 225, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.inputBox{
    position: relative;
    width: 300px;
}
.inner-input{
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: wheat;
    font-weight: 300;
    border-radius: 25px;
    font-size: 15px;
    box-shadow: -5px -5px 15px rgba(225, 225, 225, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    outline: none;
}
.label{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    color: white;
    pointer-events: none;
    font-size: 15px;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
}
.inputBox-icon{
    position: absolute;
    top: 10px;
    left: 16px;
    width:25px ;
    padding-right: 8px;
    padding: 2px 0;
    color:yellow;
    border-right: 1px solid yellow;
}
a{
    color:yellow;
}
.forget-password{
    margin-left: 190px;
}
.error{
    color:yellow
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: yellow;
    /* border: 1px solid yellow; */
    transform: translateX(20px) translateY(-20px);
    font-size: 12px;
    padding: 0 8px;
    font-weight: 300;
    border-radius: 10px;
}
.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid yellow;
}
@media screen and (max-width: 400px ){
.sign-in-up-container{
    max-width: 100%;
}
.sign-in-out-inner-form {
    max-width: 100%;
}
.inputBox {
    width: 100%;
    max-width: none;
}
.button {
    max-width: 100%;
}
}
@media screen and (max-width: 1000px) {
.sign-in-up-container{
    max-width: 100%;
}
.image-container img {
    max-width: 100%;
    height: auto;
}
.sign-in-out-inner-form {
    max-width: 100%;
    }
.inputBox {
    width: 100%;
    max-width: none;
    }
.button {
    max-width: 100%;  
}
}
.register-direct{
    color:#fff
}
