.sidebar{
    background-color: #0F0A36;
     width: fit-content;
     height: 100vh;
     position: relative;
}
/* .sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
} */
.SideBarList{
    height: auto;
    padding: 0;
    /* margin-top: 10px; */
}
.icon{
    color: wheat;
    margin-left: 22px;
}
.SideBarList .row{
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: wheat;
    align-items: center;
}
.SideBarList .row:hover{
    cursor: pointer;
    background-color: transparent;
}
/* .row1{
    margin-left: 15px !important ;
} */
.row #icon{
    flex:30%;
    display: grid;
    place-items: center;
    padding: 20px;
    color: yellow;
}
.row #title{
    flex: 70%;
}
.active {
    background-color:#494064;
}
.logout-sidebar{
  /* padding-left: 20px; */
}