.sidebar{
    height: 100%;
    background-color: #0F0A36;
     width: 220px;
   }
.SideBarList{
    height: auto;
    padding: 0;
    margin-top: 10px;
    }
.SideBarList .row{
    height: 60px;
    list-style-type: none;/*get rid of any list property*/
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: wheat;
    align-items: center;
}
.SideBarList .row:hover{
    cursor: pointer;
    background-color:  #494064;
}
.row #icon{
    flex:30%;
    display: grid;
    place-items: center;
}
.row #title{
    flex: 70%;
   
}
