.CodeMirror{
    font-size: 16px;
    line-height: 1.6;
    height: 100vh;
    overflow-y: scroll;
}
/* .CodeMirror-linenumber {
    color:yellow;
} */

.cm-s-blackboard.CodeMirror{
    height: 440px;
    background: #2d2254 !important;
}
.CodeMirror.cm-s-blackboard .CodeMirror-gutters {
    background-color: #2d2254;
    border-right: 1px solid yellowgreen !important;
}