.CodeMirror{
    font-size: 16px;
    line-height: 1.6;
    overflow-y: hidden;
}

.CodeMirror.cm-s-eclipse{
    height: 100vh;
    background-color: #2d2254;
  }
  .CodeMirror .CodeMirror-gutters {
    background-color:#2d2254;
    border-right: none;
    color: yellow;
  }
  
  .CodeMirror-linenumber {
    color:yellow;
  }
  