
.session-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    margin-top: -90px;
    position: relative;
    z-index: 5;

}
.generate-container{
    font-size: 13px;
}