.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    align-items: center;
}
.logo {
    font-size: 2.5rem;
    color: white;
  }
.partLogo{
    color:yellow;
    font-size: 1.2rem;
    margin-top: -14px;
  }

.links {
    display: flex;
    gap: 1.2rem;
    text-align: center;
    align-items: center;
  }
.linking {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
.linking:hover{
    color: yellow;
    transform: scale(1.1);
  }
@media only screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .links {
      flex-direction: column;
      gap: 1rem;
    }
  }
  
@media only screen and (max-width: 200px) {
    .navbar {
      padding: 1rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .links {
      display: none;
    }
  }