.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    align-items: center;
}
.logo {
    font-size: 2.5rem;
    color: white;
  }
.partLogo{
    color:yellow;
    font-size: 1.2rem;
    margin-top: -14px;
  }

.links {
    display: flex;
    gap: 1.2rem;
    text-align: center;
    align-items: center;
  }