.admin-wrapper{
    display: flex;
}
.admin{
    flex: 1;
    overflow: scroll;
    height: 100vh;
}
.website-info{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.grapgh{
    display: flex;
  
}
.right-bargrapah{
    width: 50%; 
}
.left-part{
    padding: 30px;
    margin-top: 50px;
}
.statistics-title{
    color: yellow;
    font-weight:normal;
}

.statistics-info{
    color:rgb(154, 152, 148);
}
.piechart{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.right-piechart{
    display: flex;
  margin-right: 150px;
}
