.parallax {
    position: relative;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 1px;
    transform-style: preserve-3d;

}
.parallax::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
transform: translateZ(-1px) scale(2);
}
@media screen and (max-width: 768px) {
    .parallax {
      height: 300px;
      width: 100%;
      background-attachment: scroll;
    }
  }
@media screen and (max-width: 480px) {
    .parallax {
      height: 200px;
      width: 100%;
    }
  }
