.info{
    display: flex;
    gap: 6rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #5B466A;
    margin-top: 3rem;
    padding-bottom: 2rem;
  }

.icons-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 2.8rem;
  }
.icons{
    width: 2.5rem;
    height: 2.5rem;
  }

.footer-details{
    display: flex;
  }
.footer-details:hover{
    color: yellow;
    transform: scale(1.1);
    cursor: pointer;
  }
a{
    text-decoration: none;
    color: white;
  }
