.intro-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    padding-right: 100px;
}
.intro-content{
    font-size: 18px;
    color: white;
}
.btn-intro{
    display: flex;
    justify-content:flex-end;
    margin-right: 80px;
    margin-top: 10px;
}


@media only screen and (min-width: 300px) and (max-width: 800px){
    .intro-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
       
    }
    .btn-intro{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .intro-content{
        font-size: 10px;
        color: white;
    }
}

