.intro-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    padding-right: 100px;
}
.intro-content{
    font-size: 18px;
    color: white;
}
.btn-intro{
    display: flex;
    justify-content:flex-end;
    margin-right: 80px;
    margin-top: 10px;
}


