.personal-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-bottom: 40px;
}
.personal-text{
    color: wheat;
}
.inner-personal-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.edit-icon-container {
    display: inline-block;
    border: 2px solid wheat;
    border-radius: 50%;
    padding: 5px;
    margin-right: 40px;
}
.edit-icon {
    width: 24px;
    height: 24px;
    color: wheat;
}
.small-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}