
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


*{
    font-family: 'Space Mono', monospace;
  
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow: -moz-scrollbars-none; /* Firefox */
}
::-webkit-scrollbar {
    display: none;
  }
  
 