
.profile_form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}
#username,#email,#github {
    border: 0;
    border-bottom: 2px solid wheat;
    background-color:#2d2254;
    color: white;
  }
 .align{
     display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
 
.profile_form-container label {
    font-size: 1.2rem;
    font-weight: 200;
    color: wheat;
    }
.curly-braces {
    color: wheat;
    font-size: 30px;
}