.drop-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;

  }
.container .drop{
    position: relative;
    width: 250px;
    height: 280px;
    margin-left: 50px;
    background-color: rgba(255, 255, 0, 0.729);
    box-shadow: inset 20px 20px 20px rgba(202, 11, 11, 0.05),
    25px 35px 20px rgba(228, 225, 225, 0.05),
    25px 30px 30px rgba(228, 225, 225, 0.05),
    inset -20px -20px 25px rgba(195, 224, 7, 0.9);
    transition: 0.5s ease-in-out;
    animation: pulse 4s infinite;
  }

.container .drop:nth-child(1){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  }

.container .drop:nth-child(2){
    border-radius: 93% 17% 59% 41% / 57% 59% 41% 43%;
  }
.container .drop:nth-child(3){
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
  }
.container .drop:nth-child(4){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  }
.container .drop .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
  }

.container .drop .content h2{
    position: relative;
    width: 60px;
    height: 60px;
    background-color:  #2d2254;
    border-radius: 50%;
    box-shadow:12px 10px 12px rgba(47, 46, 46, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
  }

.container .drop::before{
    content: " ";
    position: absolute;
    top: 60px;
    left: 30px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius:50%;
    opacity: 0.9;
  }
.container .drop::after{
    content: " ";
    position: absolute;
    top: 90px;
    left: 40px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius:50%;
    opacity: 0.9;
  }

@keyframes pulse {
    0% {
      border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
    }
    20% {
      border-radius: 93% 37% 59% 41% / 57% 59% 41% 43%;
    }
    40% {
      border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
    }
    60% {
      border-radius: 44% 55% 13% 57% / 43% 43% 33% 57%;
    }
    80% {
      border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
    }
  }

  
  @media only screen and (max-width: 768px) {

    .drop-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      gap: 0;
    }
  }