.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;

  }
.container .drop{
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    background-color: yellow;
    box-shadow: inset 20px 20px 20px rgba(202, 11, 11, 0.05),
    25px 35px 20px rgba(228, 225, 225, 0.05),
    25px 30px 30px rgba(228, 225, 225, 0.05),
    inset -20px -20px 25px rgba(195, 224, 7, 0.9);
  }