.drop-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;

  }
.container .drop{
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    background-color: yellow;
    box-shadow: inset 20px 20px 20px rgba(202, 11, 11, 0.05),
    25px 35px 20px rgba(228, 225, 225, 0.05),
    25px 30px 30px rgba(228, 225, 225, 0.05),
    inset -20px -20px 25px rgba(195, 224, 7, 0.9);
  }

.container .drop:nth-child(1){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  }

.container .drop:nth-child(2){
    border-radius: 93% 17% 59% 41% / 57% 59% 41% 43%;
  }
.container .drop:nth-child(3){
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
  }
.container .drop:nth-child(4){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  }
.container .drop .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
  }